body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.fa-sign-out-alt:hover {
    color: rgb(223, 41, 41) !important;
    margin-top: 5px !important;
    margin-left: 10px !important;
    font-size: 20px !important;
}

.fa-th:hover {
    font-size: 17px !important;
}

.amareloAgd {
    background-color: #32338e !important;
    /* background-color: #f3ca30 !important; */
    color: white !important;
}

.azulAgd {
    background-color: #32338e !important;
    color: white !important;
}

.cnza {
    background-color: #e6e6e6 !important;
    color: #585858 !important;
}